* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #242d60;
  color: white !important;
  font-family: monospace !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 80px 10px;
}

/* section {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 112px;
  border-radius: 6px;
  justify-content: space-between;
}

.product {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

img {
  border-radius: 6px;
  margin: 10px;
  width: 54px;
  height: 57px;
}

h3,
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  margin: 0;
}

h5 {
  opacity: 0.5;
}
  */

button {
  display: flex;
  align-items: center;
  padding: 15px 35px;
  justify-content: center;
  height: 36px;
  background: #556cd6;
  color: white;
  max-width: 100%;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 8px;
  margin-top: 10px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

button:hover {
  animation: bubble 0.9s ease-in-out;
  transform: scale(1);
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.7);
  }

  40% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#payment-message {
  position: absolute !important;
  bottom: 0% !important;
  right: 2% !important;
  transform: translate(-50%, -50%) !important;
  background: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
}

#submit {
  margin-top: 20px;
}

#payment-form {
  width: 80% !important;
}

.sc-ivxoEo {
  padding: 0px !important;
}

.spinner {
  padding: 0px auto !important;
  border: 4px solid #f3f3f3;
  /* Light gray border */
  border-top: 4px solid #3498db;
  /* Blue border at the top */
  border-radius: 50%;
  /* Circular shape */
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.product_payment_container {
  box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.458) !important;
}

.spinner-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main_spinner {
  padding: 0px auto !important;
  border: 4px solid #f3f3f3;
  /* Light gray border */
  border-top: 4px solid #3498db;
  /* Blue border at the top */
  border-radius: 50%;
  /* Circular shape */
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}